
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href='{% static "css/create.css" %}' />
    
  </head>
  <body>
    <div class="bg-img"></div>
    <h1>Make Changes</h1>
    {% for x in data %}
    <form action="" method="post">
      <table align="center">
        {% csrf_token %}
        <!--cross side request forgey -->
        <tr>
          <td><label for="name">Name:</label></td>
          <td><input type="text" id="name" name="name" value="{{x.name}}" /></td>
        </tr>
        <tr>
          <td><label for="phone">Phone Number:</label></td>
          <td>
            <input
              type="tel"
              id="phone"
              name="phone"
              placeholder="Enter 10-digit phone number"
              value="{{x.mobile}}" 
            />
          </td>
        </tr>
        <tr>
          <td><label for="email">Email-ID:</label></td>
          <td>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Enter your email address."
              value="{{x.email}}"
            />
          </td>
        </tr>
        <tr>
          <td><label for="message">Message:</label></td>
          <td>
         <input type="textarea" id="message" value="{{x.message}}" name="message" rows="4" >
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center;">
            <input type="submit" value="Submit" />
          </td>
        </tr>
      </table>
    </form>
    {% endfor %}
  </body>
</html>
